@model eFormRequest.FieldValue

@foreach (eFormRequest.KeyValuePair item in @Model.KeyValuePairList)
{
    Boolean keyFound = false;
    foreach(string _value in Model.Value.Split('|'))
    {
        if (item.Key == _value)
        {
            keyFound = true;
        }
    }

    if (keyFound)
    {
        <div class="checkbox">
            <input checked="checked" id="f_[@(Model.Id)][@item.Key]" name="f_[@(Model.Id)]" type="checkbox" value="@item.Key">
            <label for="f_[@(Model.Id)][@item.Key]">
                @item.Value
            </label>
            <br>
        </div>
    }
    else
    {
        <div class="checkbox">
            <input id="f_[@(Model.Id)][@item.Key]" name="f_[@(Model.Id)]" type="checkbox" value="@item.Key">
            <label for="f_[@(Model.Id)][@item.Key]">
                @item.Value
            </label>
            <br>
        </div>
    }
}
