@model IEnumerable<eFormFrontendDotNet.Models.settings>

@*@{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@
<div class="container-fluid">
    <table border="0" cellpadding="0" cellspacing="0" class="table table-striped table-bordered table-condensed table-hover dataTable no-footer" id="simple_sites" role="grid" aria-describedby="check_lists_info" style="width: 100%;">
        <thead>
            <tr role="row">
                <th class="col-md-1 text-center" rowspan="1" colspan="1">
                    Site ID
                </th>
                <th class="col-md-3 text-center" rowspan="1" colspan="1">
                    First name
                </th>
                <th class="col-md-3 text-center" rowspan="1" colspan="1">
                    Last name
                </th>
            </tr>
        </thead>
    </table>
</div>