@*
    The MIT License(MIT)

    Copyright(c) 2007-2017 microting

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
*@
@model eFormData.Element
@{ string style = "";}

@if (@Model.GetType() == typeof(eFormData.CheckListValue))
{
    eFormData.CheckListValue @dataE = (eFormData.CheckListValue)Model;
    <section id="cl@(Model.Id)">
        <hr class="soften" />
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="lead black-color">
                    @Model.Label
                </p>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            @if (dataE.ApprovalEnabled)
                            {
                                switch (dataE.Status)
                                {
                                    case "approved":
                                        {
                                            <div class="radio">
                                                <input checked id="cl_v[@(dataE.Id)][approved]" name="cl_v[@(dataE.Id)]" type="radio" value="approved" />
                                                <label for="cl_v[@(dataE.Id)][approved]">Approved</label>
                                            </div>
                                            if (dataE.ReviewEnabled)
                                            {

                                                <div class="radio">
                                                    <input id="cl_v[@(dataE.Id)][review]" name="cl_v[@(dataE.Id)]" type="radio" value="review" />
                                                    <label for="cl_v[@(dataE.Id)][review]">Review</label>
                                                </div>
                                            }
                                            <div class="radio">
                                                <input id="cl_v[@(dataE.Id)][not_approved]" name="cl_v[@(dataE.Id)]" type="radio" value="not_approved" />
                                                <label for="cl_v[@(dataE.Id)][not_approved]">Not approved</label>
                                            </div>
                                            break;
                                        }
                                    case "not_approved":
                                        {
                                            <div class="radio">
                                                <input id="cl_v[@(dataE.Id)][approved]" name="cl_v[@(dataE.Id)]" type="radio" value="approved" />
                                                <label for="cl_v[@(dataE.Id)][approved]">Approved</label>
                                            </div>
                                            if (dataE.ReviewEnabled)
                                            {

                                                <div class="radio">
                                                    <input id="cl_v[@(dataE.Id)][review]" name="cl_v[@(dataE.Id)]" type="radio" value="review" />
                                                    <label for="cl_v[@(dataE.Id)][review]">Review</label>
                                                </div>
                                            }
                                            <div class="radio">
                                                <input checked id="cl_v[@(dataE.Id)][not_approved]" name="cl_v[@(dataE.Id)]" type="radio" value="not_approved" />
                                                <label for="cl_v[@(dataE.Id)][not_approved]">Not approved</label>
                                            </div>
                                            break;
                                        }
                                    case "review":
                                        {
                                            <div class="radio">
                                                <input id="cl_v[@(dataE.Id)][1]" name="cl_v[@(dataE.Id)]" type="radio" value="approved" />
                                                <label for="cl_v[@(dataE.Id)][approved]">Approved</label>
                                            </div>
                                            <div class="radio">
                                                <input checked id="cl_v[@(dataE.Id)][review]" name="cl_v[@(dataE.Id)]" type="radio" value="review" />
                                                <label for="cl_v[@(dataE.Id)][review]">Review</label>
                                            </div>
                                            <div class="radio">
                                                <input id="cl_v[@(dataE.Id)][not_approved]" name="cl_v[@(dataE.Id)]" type="radio" value="not_approved" />
                                                <label for="cl_v[@(dataE.Id)][not_approved]">Not approved</label>
                                            </div>
                                            break;
                                        }
                                }
                            }
                        </td>
                    </tr>

                    @if (dataE.DataItemList != null)
                    {
                        foreach (eFormData.Field subItem in @dataE.DataItemList)
                        {
                            if (!subItem.Color.IsEmpty())
                            {
                                style = "background-color: #" + subItem.Color + ";";
                            }
                            else
                            {
                                style = "";
                            }
                            <tr style="@(style)">
                                <td>
                                    <strong>@subItem.Label</strong>
                                </td>
                            </tr>
                            <tr style="@(style)">
                                <td>
                                    @switch (subItem.FieldType)
                                    {
                                        case "CheckBox":
                                            @Html.Partial("Fields/CheckBox", subItem.FieldValues.First());
                                            break;
                                        case "Comment":
                                            @Html.Partial("Fields/Comment", subItem.FieldValues.First());
                                            break;
                                        case "MultiSelect":
                                            @Html.Partial("Fields/MultiSelect", subItem.FieldValues.First());
                                            break;
                                        case "SingleSelect":
                                            @Html.Partial("Fields/SingleSelect", subItem.FieldValues.First());
                                            break;
                                        case "Number":
                                            @Html.Partial("Fields/Number", subItem.FieldValues.First());
                                            break;
                                        case "Picture":
                                            @Html.Partial("Fields/Picture", subItem);
                                            break;
                                        case "Text":
                                            @Html.Partial("Fields/Text", subItem.FieldValues.First());
                                            break;
                                        case "Date":
                                            @Html.Partial("Fields/Date", subItem.FieldValues.First());
                                            break;
                                        default:
                                            break;
                                    }
                                </td>
                            </tr>
                        }
                    }

                    @if (dataE.ExtraFieldsEnabled)
                    {
                        <tr>
                            <td>
                                ExtraFieldsEnabled
                            </td>
                        </tr>
                    }
                    @if (@dataE.DataItemGroupList != null)
                    {
                        foreach (eFormData.FieldGroup fieldGroup in @dataE.DataItemGroupList)
                        {
                            <tr>
                                <td>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p class="lead black-color">
                                                @fieldGroup.Label
                                            </p>
                                        </div>
                                        <table class="table">
                                            <tbody>
                                                @foreach (eFormData.Field subItem in fieldGroup.DataItemList)
                                                {
                                                if (!subItem.Color.IsEmpty())
                                                {
                                                style = "background-color: #" + subItem.Color + ";";
                                                }
                                                else
                                                {
                                                style = "";
                                                }
                                                <tr style="@(style)">
                                                    <td>
                                                        <strong>@subItem.Label</strong>
                                                    </td>
                                                </tr>
                                                <tr style="@(style)">
                                                    <td>
                                                        @switch (subItem.FieldType)
                                                        {
                                                            case "CheckBox":
                                                                @Html.Partial("Fields/CheckBox", subItem.FieldValues.First());
                                                                break;
                                                            case "Comment":
                                                                @Html.Partial("Fields/Comment", subItem.FieldValues.First());
                                                                break;
                                                            case "MultiSelect":
                                                                @Html.Partial("Fields/MultiSelect", subItem.FieldValues.First());
                                                                break;
                                                            case "SingleSelect":
                                                                @Html.Partial("Fields/SingleSelect", subItem.FieldValues.First());
                                                                break;
                                                            case "Number":
                                                                @Html.Partial("Fields/Number", subItem.FieldValues.First());
                                                                break;
                                                            case "Picture":
                                                                @Html.Partial("Fields/Picture", subItem);
                                                                break;
                                                            case "Text":
                                                                @Html.Partial("Fields/Text", subItem.FieldValues.First());
                                                                break;
                                                            case "None":
                                                                @Html.Partial("Fields/None", subItem.FieldValues.First());
                                                                break;
                                                            case "Date":
                                                                @Html.Partial("Fields/Date", subItem.FieldValues.First());
                                                                break;
                                                            default:
                                                                break;
                                                        }
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>                            
                        }
                    }
                </tbody>

            </table>

        </div>
    </section>
}
else
{
    eFormData.GroupElement dataE = (eFormData.GroupElement)Model;

    foreach (eFormData.Element item in dataE.ElementList)
    {
        @Html.Partial("EditSection", item);
    }
}