@{
    ViewBag.Title = "Edit case";
}
<form accept-charset="utf-8" action="/Cases/Update/@(ViewBag.case_id)" class="edit_case" id="edit_case" method="post">
    <div class="container-fluid">
        <div class="bs-docs-container">
            <div class="row">
                <div class="col-md-9" role="main">
                    @foreach (eFormRequest.Element item in @ViewBag.theCase.ElementList)
                    {
                        @Html.Partial("EditSection", item);
                    }
                </div>
                <div class="col-md-3">
                    <div class="bs-docs-container hidden-print affix" id="mt-side-bar" role="complementary">
                        <ul class="nav bs-docs-sidebar">
                            <li class="active">
                                <a href="#inspection_v1_4">
                                    <i class="icon-chevron-right">
                                        @ViewBag.theCase.Label
                                    </i>
                                </a>
                                <ul class="nav">
                                    @foreach (eFormRequest.Element item in @ViewBag.theCase.ElementList)
                                    {
                                        <li class="">
                                            <a href="#cl@(item.Id)">
                                                <i class="icon-chevron-right">
                                                    @item.Label
                                                </i>
                                            </a>
                                        </li>                                       
                                    }
                                </ul>
                            </li>
                            <br />
                            <li class="text-center">
                                <button class="btn btn-ar btn-danger" id="submit_form">Gem</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
