@*
    The MIT License(MIT)

    Copyright(c) 2007-2017 microting

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
*@
<header class="main-header">
    <div class="container-fluid">
        <h1 class="page-title">
            <div class="container">
                Cases
            </div>
        </h1>
        <div class="pull-right">                
        </div>
    </div>
</header>
<div class="container-fluid">
    <table border="0" cellpadding="0" cellspacing="0" class="table table-striped table-bordered table-condensed table-hover dataTable no-footer" id="check_lists" width="100%" role="grid" aria-describedby="check_lists_info" style="width: 100%;">
        <thead>
            <tr role="row">
                <th class="col-md-2 text-center" rowspan="1" colspan="1">
                    #
                </th>
                <th class="col-md-2 text-center" rowspan="1" colspan="1">
                    Created at
                </th>
                <th class="col-md-2 text-center" rowspan="1" colspan="1">
                    Done at
                </th>
                <th class="col-md-2 text-center" rowspan="1" colspan="1">
                    Done by
                </th>
                <th class="col-md-2 text-center" rowspan="1" colspan="1">
                    Status
                </th>
                <th class="col-md-2 text-center" rowspan="1" colspan="1">
                    Edit case
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (eFormFrontendDotNet.Models.cases item in @ViewBag.cases)
            {
                <tr>
                    <td class="text-center">
                        @item.id
                    </td>
                    <td class="text-center">
                        @item.created_at
                    </td>
                    <td class="text-center">
                        @item.done_at
                    </td>
                    <td class="text-center">
                        @try
                        {
                            @item.worker.full_name()
                        }
                        catch
                        {
                            @item.done_by_user_id
                        }

                    </td>
                    <td class="text-center">
                        @switch (item.status)
                        {
                            case 33:
                                {
                                    <div class="progress" data-toggle="tooltip" data-placement="top" title="" data-original-title="Creating"><div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">33%</div></div>
                                    break;
                                }
                            case 66:
                                {
                                    <div class="progress" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ready for download by unit"><div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">66%</div></div>
                                    break;
                                }
                            case 77:
                                {
                                    <div class="progress" data-toggle="tooltip" data-placement="top" title="" data-original-title="Fetched by unit"><div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">77%</div></div>
                                    break;
                                }
                            case 100:
                                {
                                    <div class="progress" data-toggle="tooltip" data-placement="top" title="" data-original-title="Result retrieved from Microting"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div></div>
                                    break;
                                }
                            default:
                                {
                                    <div class="progress" data-toggle="tooltip" data-placement="top" title="" data-original-title="Contact your administrator for help!"><div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">N/A</div></div>
                                    break;
                                }
                        }
                        @*@item.status*@
                    </td>


                    <td class="text-center">
                        @if (item.status == 100)
                        {
                            <a href="/Cases/Edit/@(item.id)" class="needs_tooltip btn btn-ar btn-sm btn-default mt-edit-check-list-button" data-placement="top" data-toggle="tooltip" id="edit_check_list_@(item.id)" title="" type="button" data-original-title="Edit case">
                                <span class="glyphicon glyphicon-pencil" data-mt-check-list-id="@(item.id)"></span>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
